/* Animação do título */

@keyframes HeaderH1-gradiente {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes HeaderH2-moverparacima {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes HeaderA-moverparacima {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes HeaderLogin-moverparaolado {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(30px);
    }
}