/*
FONTES:
font-family: 'Architects Daughter', cursive;
font-family: 'Arvo', serif;
font-family: 'Gluten', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Fredericka the Great', cursive;

CORES:
AZUL ESCURO: #0A497D
AZUL ESCURO QUASE PRETO: #05243D
AZUL MAIS CLARO: #1076C9
AZUL MEIO CLARO: #0B518A
AZUL MAIS ESCURO: #083A63
*/

/*---------------------*/
/*  ELEMENTOS GERAIS   */
/*---------------------*/

* {
    font-size: 16px;
}

h2, h3 {
    font-family: 'Arvo', serif;
    text-align: center;
    text-transform: uppercase;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 400%;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 130%;
    font-weight: 500;
}
h3 {
    font-size: 150%;
}
p, li, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-align: justify;
}

/*---------------------*/
/* ELEMENTOS DO HEADER */
/*---------------------*/

header div#chamada h1 {
    font-family: 'Fredericka the Great', cursive;
    color: #0B518A;
    margin-top: 90px;
    text-shadow: 5px 5px 15px #000;

    animation-name: HeaderH1-gradiente;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-timing-function:ease-out;
    animation-fill-mode: backwards;
}

header div#chamada h2 {
    color: #05243D;
    margin-top: 30px;
    margin-bottom: 55px;
    text-shadow: 4px 4px 10px #000;

    animation-name: HeaderH2-moverparacima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

header div#chamada a {
    color: white;
    text-decoration: none;
    font-size: 130%;
    font-weight: 600;

    padding: 15px 25px;
    border-radius: 40px;

    background: linear-gradient(rgba(0,171,214,84) 0%, rgba(12,132,237,93) 50%, rgba(12,132,237,93) 100%);

    display: inline-block;

    animation-name: HeaderA-moverparacima;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

nav ul ul li a {
    font-size: 100%;
}